<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Abhishek Kumar </title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome.min.css')}}">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/simple-line-icons.css')}}">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slicknav.css')}}">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/menu_sideslide.css')}}">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slide-style.css')}}">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nivo-lightbox.css')}}" >
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.css')}}">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css')}}">
  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="/home" class="navbar-brand"><img src="static/img/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  Resume
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pgdis">
                  PGDIS PROJECT
                </a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a class="nav-link">-->
<!--                  PYTHON WORK PROJECT </a>-->
<!--              </li>-->
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
          <li>
            <a href="/pgdis">IGNOU PGDIS</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Thank you for stopping by my site...</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">I provide, IT Services !</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">With 12 + years of expertise in software development and Management</p>
<!--                <div class="header-button wow fadeInUp" data-wow-delay="1s">-->
<!--                  &lt;!&ndash; Button to Open the Modal &ndash;&gt;-->
<!--                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#uploadeModal">UPLOAD FILE</button>-->
<!--                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">RESTORE FILE</button>-->
<!--                </div>-->
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="google" href="#"><i class="icon-social-google"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- *************** JQuery PopUp **************** -->
      <!-- Modal HTML Markup -->
<!-- Modal HTML Markup -->
<div class="modal fade" id="uploadeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <form role="form" method="POST" action = "/data" enctype = "multipart/form-data" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Your File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                        <div class="form-group">
                          <label for="file" class="col-form-label"></label>
                            <input type="file" id="file" name="file" required/>
                        </div>
                        <div class="form-group">
                          <label for="email" class="col-form-label">Email:</label>
                            <input type="email" id="email" class="form-control input-lg" name="email" required>
                        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
    </div>
  </div>
  </form>
</div>

<div id="exampleModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-xs-center">Log in like a Boss</h4>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" action = "/data" enctype = "multipart/form-data" >
                        <div>
                            <input type = "file" name = "file" required/>
                            <br/>
                            <input type="email" class="form-control input-lg" name="email" value="mail@gmail.com">
                            <button type="submit" class="btn btn-info btn-block">Login</button>
                        </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Model *************************************** End*************** -->
      <!-- Hero Area End -->
    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="static/img/about/abhishek.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi Guys!</h3>
              <p>I am Abhishek Kumar, an ERP Developer, mainly working with Odoo ERP, built on top of Python Programming.
                    Working mainly on Python domain as a Full Stack developer.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Abhishek Kumar, Certified - PMI PMP®</span></li>
                  <li><span class="pro-title"> Co-Founder </span> <span class="pro-detail">Efficiencie Tech Solutions LLP, RENTHISAAB, PoolSiFi Inc</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">12 Years</span></li>
                  <li><span class="pro-title"> Origin </span> <span class="pro-detail">India</span></li>
                  <li><span class="pro-title"> Presently </span> <span class="pro-detail">Qatar</span></li>
                  <li><span class="pro-title"> Address </span> <span class="pro-detail">West Bay, Doha</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">abhishek.ricky88@gmail.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail"><i class="fa fa-phone"></i> +974 - 66203915 </i> | +91 - 8082543463 <i class="fa fa-whatsapp"></i></span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                </ul>
              </div>
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Back-end Development</a></h3>
                <p>ERP (Odoo | SAP), FinTech, Cryptography, IT Consultancy </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Web-Application</a></h3>
                <p>Frontend Design and Development, Django, Flask, Web-services & API</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <i class="icon-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Cloud Server</a></h3>
                <p>Google Cloud Server(GCP), Amazon Cloud(AWS), On-Premises Setup </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-bubbles"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Consultancy</a></h3>
                <p>Project Management, ERP Consultant, Cost & GAP Analysis</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">PGDIS - IGNOU(India)</h3>
                    <span>2018 - 2019</span>
                    <p class="line-text">POST Graduate Diploma in Information Security, via IGNOU (India)</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">WBUT - Kolkata(India)</h3>
                    <span>2010 - 2012</span>
                    <p class="line-text">Completed 4 Years University Degree in Bachelor of Technology, from WBUT, Kolkata(India)</p>
                    <p class="line-text"> 2010, Completed 6 weeks of Industrial training on Communication of USB Driver, from Bhartiya Atomic Research Center, an Unit of Atomic Energy, Government of India</p>
                    <p class="line-text"> Part of Optima 2009(IIT Kharagpur), Participant and Project submission on Sun-Microsystem </p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Secondary School - RPS, Darbhanga</h3>
                    <span>200 - 2010</span>
                    <p class="line-text">Completed my Senior Secondary School in 2005 from my Hometown Darbhanga(India)</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">IT Manager - Al Sharqi Holding Group, Qatar</h3>
                    <span>July 2021 - Present</span>
                    <p class="line-text">Worked as a Sr. ERP Developer and Team Lead in Qatar Public Relations, and successfully achieve</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sr. Application Developer/ Team Lead - QPR, Qatar</h3>
                    <span>Feb 2019 - June 2021</span>
                    <p class="line-text">Worked as a Sr. ERP Developer and Team Lead in Qatar Public Relations, and successfully achieve</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Sr. ERP Developer - CWG PLC, Lagos(Nigeria)</h3>
                    <span>March 2014 - Jan 2019</span>
                    <p class="line-text">Proudly behind <b> SMEDAN - Government of Nigeria</b>, and successfully worked approx 5 Years, with African Leading ITC company to implement ERP for many top clients in the regions</p>
                    <p class="line-text"> Major Clients: GSK (Suntory Nigeria), CityDia, SwiftNetwork, MTN, United bank of Africa. etc...</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Software Engineer - Nevpro Business Solutions(Mumbai, India)</h3>
                    <span>June 2011 - Feb 2014</span>
                    <p class="line-text">Get a chance to work and learn with great team and successfully able to achieve learning and work cultures.</p>
                  </div>
                </li>
                <!-- <li>
                  <div class="content-text">
                    <h3 class="line-title">Junior Application Engineer - Merce Technology Limited, Mumbai(India)</h3>
                    <span>Aug 2011 - Jan 2012</span>
                    <p class="line-text">.............</p>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Remarkable Works</h2>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All
              </a>
              <a class="filter btn btn-common" data-filter=".design">
                Presentation
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Representation
              </a>
              <a class="filter btn btn-common" data-filter=".print">
                Personal
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-1.jpg" alt="" width="500" height="324" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-1.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                    <div class="hover-text">
                      <span>MTN - SMERP, Lagos (2016) <br/> Powered by: CWG - PLC</span> <!-- Wrapped text in a span -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix design print">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-2.jpg" alt="" width="500" height="324"/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-2.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                    <div class="hover-text">
                      <span>TechFest - Lagos (2014)<br/> Representing, CWG - PLC</span> <!-- Wrapped text in a span -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-3.jpg" width="500" height="324" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-3.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                    <div class="hover-text">
                      <span>SMEDAN - ABUJA (2015)<br/> Government of Nigeria</span> <!-- Wrapped text in a span -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-4.jpg" alt="" width="500" height="324"/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-4.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                    <div class="hover-text">
                      <span>Web Summit, Qatar (2024) <br/> Presented - RENTHISAAB</span> <!-- Wrapped text in a span -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-5.jpg" width="500" height="324" alt="" />
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-5.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                    <div class="hover-text">
                      <span>Wedding :-D , India (2022) <br/> Spouse - SIMPI</span> <!-- Wrapped text in a span -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print design">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="static/img/gallery/img-6.jpg" width="500" height="324" alt=""/>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="static/img/gallery/img-6.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon"><i class="icon-briefcase"></i></div>
              <div class="counterUp">4</div>
              <p>Current Project</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="counterUp">37</div>
              <p>Project Done</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon"><i class="icon-diamond"></i></div>
              <div class="counterUp">2</div>
              <p>Awards Received</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon"><i class="icon-heart"></i></div>
              <div class="counterUp">154</div>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="contact-block">
                <h2>Contact Form</h2>
                <form id="contactForm" method="POST" action="/form_contact">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" placeholder="Subject" id="msg_subject" name="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" id="message" name="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Al Naser Tower - A, West Bay, Doha (office Location) </p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:admin@kumarabhi.com">admin@kumarabhi.com</a></p>
                    <p><a href="mailto:abhishek.ricky88@gmail.com">abhishek.ricky88@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#"> +91-8082553463  <i class="fa fa-whatsapp"></i></a></p>
                    <p><a href="#">  +974-66203915  </a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
<!--            <object style="border:0; height: 450px; width: 100%;"-->
<!--                    data="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC0B8IxPDRT4RUHMBZOEvMK4&key=..."></object>-->
                <!-- <div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="450" id="gmap_canvas" src="https://maps.google.com/maps?q=sks25%20doha&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div><style>.mapouter{position:relative;text-align:right;height:450px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:450px;width:1080px;}</style></div>          </div> -->
                <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=500&amp;hl=en&amp;q=Al%20Sharqi%20Holding%20Group,%20Al%20naser%20Tower%20A+(Al%20Sharqi%20Holding)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                <li>
                  <a class="facebook" href="https://www.facebook.com/abhishek.ricky88"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul>
              <p>Copyright © 2019 Abhishek Kumar All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="static/js/jquery-min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.mixitup.js"></script>
    <script src="static/js/jquery.counterup.min.js"></script>
    <script src="static/js/waypoints.min.js"></script>
    <script src="static/js/wow.js"></script>
    <script src="static/js/jquery.nav.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/nivo-lightbox.js"></script>
    <script src="static/js/jquery.slicknav.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/form-validator.min.js"></script>
    <script src="static/js/contact-form-script.min.js"></script>
    <script src="static/js/map.js"></script>

  </body>
</html>
